#blog-container{
    margin-top: 6rem;
}
.blog-contents{
    display: flex;
    gap: 10px;
}
.blog-content{
    padding: 2rem;
}
.blog-main-title h4{
    color: #ff0000;
    font-family: 'poppins',Sans-serif;
    font-size: 1.8em;
    font-weight: 700;
    line-height: 1.2em;
    text-align: center;
}
.blog-title h5{
    color: #15399a;
    font-family: 'roboto',Sans-serif;
    font-size: 1.1rem;
    font-weight: 700;
    padding: 10px 0;
}
.blog-desc p{
    width: 300px;
    line-height: 1.5;
    /* padding: 1rem; */
}